body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Open Sans",open-sans,sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #363C32;
  overflow: hidden;
}

.layout{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  position: absolute;
  margin: 0px;
  background: white;
  overflow: visible;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.layout-top{
  bottom: auto;
  min-width: 1080px;
  border-bottom: 1px solid lightgray;
  z-index: 100
}
.layout-middle{
  top: auto;
  bottom: auto;
  /*min-width: 1080px;*/
}
.layout-bottom{
  top: auto;
  /*min-width: 1080px;*/
  background: lightgray;
}
.layout-right{
  left: auto;
  /*min-height: 500px;*/
  overflow: scroll;
  border-left: 1px solid lightgray;
}
.layout-left{
  right: auto;
  /*min-height: 500px;*/
  overflow: scroll;
  border-right: 1px solid lightgray;
}
.layout-main{
  left: auto;
  right: auto;
  /*min-height: 500px;*/
  /*overflow: scroll;*/
}

.area{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  position: relative;
  width: 100%;
  height: 100%;
}

#navArea{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 1080px;
}
.nav-item{
  flex: auto;
  font-size: 14px;
}
.nav-item>.nav-item-img{
  background-size: auto 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
}
.nav-item>.nav-item-text{
  left: 50%;
  position: relative;
  transform: translate(-50%,0);
  text-align: center;
}

#pageListArea{
  height: 400px;
  display: flex;
  flex-direction: column;
}
.pageList-tabs{
  display: flex;
  width: 100%;
  height: 37px;
  border-bottom: 1px solid lightgray;
  flex-shrink: 0;
}
.pageList-tab{
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}
.pageList-tab.selected{
  border-bottom: 2px solid #00A1C0;
}
.pageList-pages{
  overflow: scroll;
  flex: auto;
}
.pageLink{
  height: 26px;
  padding: 0 18px 0 18px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.pageLink:hover{
  background-color: #f0f8fb;
}


#dragArea{
  /*width: 1000px;
  height: 1000px;*/
}

.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width:100px;
  height:100px;
  position: absolute;
  background: lightgray;
}
.box:hover{
  border:2px solid blue;
}

.targetBox{
  background: none;
  border: 2px solid skyblue;
}

.resizer{
  cursor: crosshair;
}

.snapLine{
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  border: 0.5px solid lightgreen;
  position: absolute;
}

#dragSourceArea{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dragSource-tabs{
  display: flex;
  width: 100%;
  height: 37px;
  border-bottom: 1px solid lightgray;
  flex-shrink: 0;
}
.dragSource-tab{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: auto;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
.dragSource-tab.selected{
  border-bottom: 2px solid #00A1C0;
}
.dragSource-boxs{
  overflow: scroll;
  flex: auto;
  width: 231px;
  padding-top: 12px;
  padding-left: 1px;
}
.boxSourceContainer{
  width: 78px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  line-height: 12px;
  border: 1px solid rgba(180,188,191,0.5);
  cursor: pointer;
  float: left;
  font-size: 11px;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxSourceDragImage{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(https://dteyv52hbg2at.cloudfront.net/devices/common/rectangle/helper.png);
  background-size: 70px auto;
  background-repeat: no-repeat;
}

.contextMenu {
  position: absolute;
  background: white;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0px 0px 2px 0.5px #999999;
}
.contextMenu--option {
  padding: 6px 50px 7px 20px;
  min-width: 160px;
  cursor: default;
  font-size: 12px;
}
.contextMenu--option:hover{
  background: #666;
  color: white;
}     
.contextMenu--option:active {
  color: #e9e9e9;
  background: linear-gradient(to top, #555, #444);
}     
.contextMenu--option__disabled {
  color: #999999;
  pointer-events: none;
} 
.contextMenu--separator {
  width: 100%;
  height: 1px;
  background: #CCCCCC;
  margin-top: 7px;
  margin-bottom: 7px;
}

/*
width: 33.3%;
height: 100px;
box-sizing: border-box;
text-align: center;
line-height: 12px;
border: 1px solid rgba(180,188,191,0.5);
cursor: pointer;
float: left;
font-size: 11px;
position: relative;
margin-left: -1px;
margin-top: -1px;
overflow: hidden;
background: transparent;
*/